<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot WebSocket广播式</title>
</head>
<body>
<div>
  <div>
    <button id="connect">连接</button>
    <button id="disconnect">断开连接</button>
  </div>
  <div id="sendDiv">
    <label for="message">信息</label>
    <input type="text" id="message"/>
    <button id="send">发送</button>
  </div>
  <div id="response">

  </div>
</div>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/stomp.js}"></script>
<script th:src="@{/js/sockjs.js}"></script>
<script>
  $(document).ready(function () {
    var stompClient;

    $('#sendDiv').hide();
    $('#response').hide();
    $('#disconnect').attr('disabled', true);

    $('#connect').click(function () {
      connect();
    });

    $('#disconnect').click(function () {
      disconnect();
    });

    $('#send').click(function () {
      sendMessage();
    });

    function connect() {
      // 指定连接SockJS的endpoint名称为"/endpointAir"
      var socket = new SockJS('/endpointAir');
      // 使用STOMP子协议
      stompClient = Stomp.over(socket);
      // 连接WebSocket服务端
      stompClient.connect({}, function (frame) {
        setConnected(true);
        console.log('Connected: ' + frame);
        // 订阅目标"/topic/getResponse"发送的消息
        stompClient.subscribe('/topic/getResponse', function (response) {
          showResponse(JSON.parse(response.body).message)
        });
      });
    }

    function disconnect() {
      // 断开连接
      if (stompClient) {
        stompClient.disconnect();
      }
      setConnected(false);
      console.log("Disconnected");
    }

    function sendMessage() {
      // 向目标"/welcome"发送消息
      stompClient.send('/welcome', {}, JSON.stringify({'message': $('#message').val()}));
    }

    function showResponse(message) {
      $('#response').append("<p>" + message + "</p>");
    }

    function setConnected(connected) {
      if (connected) {
        $('#sendDiv').show();
        $('#response').show();
      } else {
        $('#sendDiv').hide().find('input').val('');
        $('#response').html('').hide();
      }
      $('#connect').attr('disabled', connected);
      $('#disconnect').attr('disabled', !connected);
    }
  });
</script>
</body>
</html>

